/* ============================================================
                            RESET
============================================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* ============================================================
                            FONTS
============================================================ */

@font-face {
  font-family: 'FuturalHeavy';
  src: url('fonts/bbb-herthey-futural-95.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturalRegular';
  src: url('fonts/bbb-herthey-futural-40.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturalThin';
  src: url('fonts/bbb-herthey-futural-15.woff') format('woff');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'Baskervvol';
  src: url('fonts/bbbbaskervvol-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaskervvolItalic';
  src: url('fonts/bbbbaskervvol-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* ============================================================
                            NAV BAR
============================================================ */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
}

.menu a {
  font-family: 'FuturalHeavy';
  color: #ffffff;
  font-size: clamp(11px, 2.8vw, 13px);
}

/* ============================================================
                       LISTE EXCEL
============================================================ */

h2 {
  padding: 4vh;
  font-family: 'FuturalHeavy';
  color: #ffffff;
  font-size: clamp(42px, 10vh, 52px);
  text-align: center;
}

.liste-excel ul {
  list-style: none;
  border-top: 1px solid #ffffff;
  width: 40vw;
  margin: 0 auto;
}

.liste-excel li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #ffffff;
  align-items: center;
}

.liste-excel .nom {
  font-family: 'FuturalHeavy';
  color: #ffffff;
  font-size: clamp(11px, 2.4vw, 14px);
  padding: 18px 12px 18px 0;
  border-right: 1px solid #ffffff;
}

.liste-excel .annee {
  font-family: 'FuturalRegular';
  color: #ffffff;
  font-size: clamp(11px, 2.4vw, 14px);
  padding: 18px 0 18px 12px;
}
