/* ============================================================
                            BODY
============================================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
}

/* ============================================================
                            FONTS
============================================================ */

@font-face {
  font-family: 'FuturalHeavy';
  src: url('fonts/BBB-Herthey-Futural-95.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FuturalRegular';
  src: url('fonts/BBB-Herthey-Futural-40.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturalThin';
  src: url('fonts/BBB-Herthey-Futural-15.woff') format('woff');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'Baskervvol';
  src: url('fonts/BBBBaskervvol-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaskervvolItalic';
  src: url('fonts/BBBBaskervvol-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

/* ============================================================
                            BODY
============================================================ */

h2 {
  font-family: 'FuturalHeavy';
  color: #ffffff;
  font-size: clamp(42px, 10vh, 52px);
}

h3 {
  font-family: 'BaskervvolItalic'; 
  color: #ffffff;
  font-size: clamp(12px, 2vh, 18px);
}

p {
  font-family: 'Baskervvol';
  color: #ffffff;
  font-size: clamp(12px, 2vh, 18px);
}



/* ============================================================
                            GRILLE
============================================================ */

.grille {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  width: 100%;
}

.grille a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  text-decoration: none;
  padding: 4rem;
  height: 50vh;
  width: 50vw;
}

/* ============================================================
                            POP-UP
============================================================ */

.popup-box {
  display: none;
  background: #ffffff;
  box-shadow: 0px 0px 10px 10px #ffffff;
  padding: clamp(0.75rem, 1.4vw, 1rem);
  overflow-y: auto;
  position: fixed;
  z-index: 500;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 999;
}

.popup-box.is-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-mobilier,
.popup-ludd,
.popup-prism,
.popup-mouche {
  width: 50vw;
  height: 50vh;
  top: 25vh;
  left: 25vw;
}


.popup-box p {
  font-size: clamp(11px, 1vw, 16px);
  color: #ffffff;
  -webkit-text-stroke: 6px #95D8EF;
  paint-order: stroke fill;
  line-height: 1;
  padding: 2vh;
}

.popup-close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-family: 'BianzhidaiPearl', sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: clamp(10px, 1.8vw, 16px);
}

